@charset "utf-8";

/* ======================================
   動画全体
====================================== */
#mainimg {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100vh;
  height: 100dvh;

  overflow: hidden;

  z-index: -1;
}

/* 動画共通 */
#mainimg video {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* ======================================
   PC動画
====================================== */
#mainimg .video-pc {
  display: block;
}

/* スマホ動画は非表示 */
#mainimg .video-sp {
  display: none;
}

/* ======================================
   スマホ
====================================== */
@media screen and (max-width: 600px) {

  /* PC動画OFF */
  #mainimg .video-pc {
    display: none;
  }

  /* スマホ動画ON */
  #mainimg .video-sp {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
  }

}